<button id="tab-button-{{ tab.id }}"
        data-on:click='$active = {{ tab.id | tojson }}; ($tabs[{{ tab.id | tojson }}] && $tabs[{{ tab.id | tojson }}].temporary) && @post("/api/tabs/{{ tab.id }}/promote")'
        data-class='{active: $active === {{ tab.id | tojson }}, "tab-temp": ($tabs[{{ tab.id | tojson }}] && $tabs[{{ tab.id | tojson }}].temporary)}'>
  {{ tab.title }}
  <span class="iris-tab-close"
        data-on:click__stop="@delete('/api/tabs/{{ tab.id }}')">&times;</span>
</button>
