<section id="{{ panel_id }}-subtab">
  <h3>Users</h3>
  <table>
    <thead><tr><th>Username</th><th>Roles</th><th>Actions</th></tr></thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td>{{ u.name }}</td>
        <td>{{ u.roles | join(", ") }}</td>
        <td>
          <button data-on:click='@post("/feature/authorization/{{ tab_id }}/admin/users/" + encodeURIComponent({{ u.name | tojson }}) + "/reprovision")'>
            reprovision
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
